html {
    scroll-behavior: smooth;
}

.section-page-navigation {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: fixed;
    top: 0;
    display: block;
    background-color: white;
}

/* web page header section */
.page-header {
    width: 90%;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
}

/* web page header image */
.image-header {
    width: 150px;
}

/* web page main section list */
.page-section-list {
    width: 90%;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    background-color: #99C2FF;
}

/* about company main section selection list*/
.div-about-company {
    font-family: 'Agency FB';
    font-size: 32px;
    width: fit-content;
    margin-right: 10px;
    display: inline-block;
}

    .div-about-company:hover {
        color: white;
        background-color: navy;
    }

/*products main section selection list*/
.div-products {
    font-family: 'Agency FB';
    font-size: 32px;
    width: fit-content;
    margin-right: 10px;
    display: inline-block;
}

    .div-products:hover {
        color: white;
        background-color: navy;
    }

/*services main section selection list*/
.div-services {
    font-family: 'Agency FB';
    font-size: 32px;
    width: fit-content;
    margin-right: 10px;
    display: inline-block;
}

    .div-services:hover {
        color: white;
        background-color: navy;
    }

/*contact us main section selection list*/
.div-contact-us {
    font-family: 'Agency FB';
    font-size: 32px;
    width: fit-content;
    margin-right: 10px;
    display: inline-block;
}

    .div-contact-us:hover {
        color: white;
        background-color: navy;
    }

.section-main-content {
    width: 100%;
    margin-top: 150px;
}

/* content about company*/
.section-about-company-content {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
}

.div-about-company-content-title {
    width: 100%;
    font-size: 40px;
    font-family: 'Agency FB';
    text-align: right;
}

.img-about-company-content {
    display: inline-block;
    width: 17%;
}

.div-content-about-company-content {
    font-size: 16px;
    font-family: 'Agency FB';
    display: inline-block;
    width: 82%;
    vertical-align: top;
}

.section-content-products {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
}

.div-products-content-title {
    width: 100%;
    font-size: 40px;
    font-family: 'Agency FB';
    text-align: left;
}

.div-content-products-content {
    font-size: 16px;
    font-family: 'Agency FB';
    display: inline-block;
    width: 82%;
    vertical-align: top;
}

.img-products-content {
    display: inline-block;
    vertical-align: top;
    width: 17%;
}

.section-content-services {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
}

.div-services-content-title {
    width: 100%;
    font-size: 40px;
    font-family: 'Agency FB';
    text-align: right;
}

.img-services-content {
    display: inline-block;
    width: 17%;
}

.div-content-services-content {
    font-size: 16px;
    font-family: 'Agency FB';
    display: inline-block;
    width: 82%;
    vertical-align: top;
}

.section-content-contact-us {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
}

.div-contact-us-content-title {
    width: 100%;
    font-size: 40px;
    font-family: 'Agency FB';
    text-align: left;
}

.div-content-contact-us-content {
    font-size: 16px;
    font-family: 'Agency FB';
    display: inline-block;
    width: 82%;
    vertical-align: top;
}

.img-contact-us-content {
    display: inline-block;
    vertical-align: top;
    width: 17%;
}

.section-footer {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 50px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: black;
}

.div-footer-content {
    width: 100%;
    font-size: 16px;
    font-family: 'Agency FB';
}

/* tablet view */
@media only screen and (max-width: 770px) {

    /* web page header image */
    .image-header {
        width: 100px;
    }

    /* about company main section selection list*/
    .div-about-company {
        font-family: 'Agency FB';
        font-size: 24px;
        width: fit-content;
        margin-right: 10px;
        display: inline-block;
    }

        .div-about-company:hover {
            color: white;
            background-color: navy;
        }

    /*products main section selection list*/
    .div-products {
        font-family: 'Agency FB';
        font-size: 24px;
        width: fit-content;
        margin-right: 10px;
        display: inline-block;
    }

    /*services main section selection list*/
    .div-services {
        font-family: 'Agency FB';
        font-size: 24px;
        width: fit-content;
        margin-right: 10px;
        display: inline-block;
    }

    /*contact us main section selection list*/
    .div-contact-us {
        font-family: 'Agency FB';
        font-size: 24px;
        width: fit-content;
        margin-right: 10px;
        display: inline-block;
    }

    /* section about company title*/
    .div-about-company-content-title {
        width: 100%;
        font-size: 24px;
        font-family: 'Agency FB';
        text-align: right;
    }

    .about-company-row {
        display: flex;
        width: 100%;
        gap: 10px;
        align-items: flex-start;
    }

    /* section about compay image */
    .img-about-company-content {
        display: inline-block;
        width: 19%;
    }

    /* section about company content*/
    .div-content-about-company-content {
        font-size: 14px;
        font-family: 'Agency FB';
        display: inline-block;
        width: 79%;
        vertical-align: top;
    }


    /* section products title*/
    .div-products-content-title {
        width: 100%;
        font-size: 24px;
        font-family: 'Agency FB';
        text-align: left;
    }

    /* section products content */
    .div-content-products-content {
        font-size: 14px;
        font-family: 'Agency FB';
        display: inline-block;
        width: 79%;
        vertical-align: top;
    }

    /* section products image */
    .img-products-content {
        display: inline-block;
        vertical-align: top;
        width: 19%;
    }

    /* section services title*/
    .div-services-content-title {
        width: 100%;
        font-size: 24px;
        font-family: 'Agency FB';
        text-align: right;
    }

    /* section services image */
    .img-services-content {
        display: inline-block;
        width: 19%;
    }

    /* section services content */
    .div-content-services-content {
        font-size: 14px;
        font-family: 'Agency FB';
        display: inline-block;
        width: 79%;
        vertical-align: top;
    }

    /*section contact us title*/
    .div-contact-us-content-title {
        width: 100%;
        font-size: 24px;
        font-family: 'Agency FB';
        text-align: left;
    }

    /*section contact us content*/
    .div-content-contact-us-content {
        font-size: 14px;
        font-family: 'Agency FB';
        display: inline-block;
        width: 79%;
        vertical-align: top;
    }

    /* section contact us image */
    .img-contact-us-content {
        display: inline-block;
        vertical-align: top;
        width: 19%;
    }
}

/* mobile view */
@media only screen and (max-width: 431px) {

    /* section about company*/
    .section-about-company-content {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1%;
    }

    /* section about company title*/
    .div-about-company-content-title {
        width: 100%;
        font-size: 24px;
        font-family: 'Agency FB';
        text-align: center;
    }

    /* section about compay image */
    .img-about-company-content {
        display: grid;
        width: 80%;
        margin-left: 10%;
        margin-top: 2%;
    }

    /* section about company content*/
    .div-content-about-company-content {
        font-size: 16px;
        font-family: 'Agency FB';
        display: inline-block;
        width: 80%;
        vertical-align: top;
        margin-top: 1%;
        margin-left: 10%;
    }

    /* section products*/
    .section-content-products {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1%;
    }

    /* section products title*/
    .div-products-content-title {
        width: 100%;
        font-size: 24px;
        font-family: 'Agency FB';
        text-align: center;
    }

    /* NEW: wrapper for image + content */
    .div-products-flex-wrapper {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 0%;
    }


    /* section products content */
    .div-content-products-content {
        font-size: 16px;
        font-family: 'Agency FB';
        display: inline-block;
        width: 80%;
        margin-top: 1%;
    }

    /* section products image */
    .img-products-content {
        display: inline-block;
        vertical-align: top;
        width: 80%;
        margin-top: 2%;
    }

    /*section services*/
    .section-content-services {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1%;
    }

    /* section services title */
    .div-services-content-title {
        width: 100%;
        font-size: 24px;
        font-family: 'Agency FB';
        text-align: center;
    }

    /*section services image*/
    .img-services-content {
        display: grid;
        width: 80%;
        margin-left: 10%;
        margin-top: 2%;
    }

    /*section services content*/
    .div-content-services-content {
        font-size: 16px;
        font-family: 'Agency FB';
        display: inline-block;
        width: 80%;
        vertical-align: top;
        margin-top: 1%;
        margin-left: 10%;
    }

    /* section contact us */
    .section-content-contact-us {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1%;
    }

    .div-contact-us-content-title {
        width: 100%;
        font-size: 24px;
        font-family: 'Agency FB';
        text-align: center;
    }

    .div-contact-us-flex-wrapper {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 0%;
    }

    .div-content-contact-us-content {
        font-size: 16px;
        font-family: 'Agency FB';
        display: inline-block;
        width: 80%;
        margin-top: 1%;
    }

    .img-contact-us-content {
        display: inline-block;
        vertical-align: top;
        width: 80%;
        margin-top: 2%;
    }
}
